CaseCSATDeploymentToSandbox/main/default/flows/Case_Survey_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>This Decision Is Used To Check Whether Survey Submitted/URL Expired For A Case Or Not</description>
        <name>Decision_To_Check_Whether_Survey_Submitted_URL_Expired_For_A_Case_Or_Not</name>
        <label>Decision To Check Whether Survey Submitted/URL Expired For A Case Or Not</label>
        <locationX>508</locationX>
        <locationY>471</locationY>
        <defaultConnector>
            <targetReference>Case_SurveyBeginning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Survey Submitted</defaultConnectorLabel>
        <rules>
            <name>Survey_Not_Submitted_And_URL_Has_Not_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Specific_Case_Record_Using_RecordId.Survey_Submitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckTimeDifferenceDisplay</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>24.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_SurveyScreen1</targetReference>
            </connector>
            <label>Survey Not Submitted And URL Has Not Expired</label>
        </rules>
        <rules>
            <name>Survey_Not_Submitted_And_URL_Has_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckTimeDifferenceDisplay</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>24.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Specific_Case_Record_Using_RecordId.Survey_Submitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_SurveyScreen3</targetReference>
            </connector>
            <label>Survey Not Submitted And URL Has Expired</label>
        </rules>
    </decisions>
    <description>Screen Flow Is Used For Case CSAT</description>
    <environments>Default</environments>
    <formulas>
        <name>CheckTimeDifferenceDisplay</name>
        <dataType>Number</dataType>
        <expression>{!CheckTimeDifferenceForSurveySent}*24</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>CheckTimeDifferenceForSurveySent</name>
        <dataType>Number</dataType>
        <expression>NOW()-{!Get_Specific_Case_Record_Using_RecordId.Survey_Sent_Date_Time__c}</expression>
        <scale>5</scale>
    </formulas>
    <interviewLabel>Case Survey Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Survey Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Specific Case Record Using RecordId</description>
        <name>Get_Specific_Case_Record_Using_RecordId</name>
        <label>Get Specific Case Record Using RecordId</label>
        <locationX>416</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_To_Check_Whether_Survey_Submitted_URL_Expired_For_A_Case_Or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>This Screen is used to show that feedback has been submitted</description>
        <name>Case_SurveyBeginning</name>
        <label>Feedback Submitted Screen</label>
        <locationX>211</locationX>
        <locationY>488</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayTextWhenFeedbackIsRecorded</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Your Feedback Has Already Been Recorded&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>This Screen Is Used To Complete Survey</description>
        <name>Case_SurveyScreen1</name>
        <label>Screen For Completing Survey</label>
        <locationX>819</locationX>
        <locationY>431</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>caseCSATNewTemplateScreenFlowComponent</name>
            <extensionName>c:caseCSATNewTemplate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Submit Survey</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>This screen is used to show that url has expired</description>
        <name>Case_SurveyScreen3</name>
        <label>URL Expired Screen</label>
        <locationX>534</locationX>
        <locationY>836</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>URLValidityDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;URL Has Expired&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>346</locationX>
        <locationY>35</locationY>
        <connector>
            <targetReference>Get_Specific_Case_Record_Using_RecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
